extends ../layouts/application

block header
     = text('views.users.new.signUp')

block content
    +formFor()(action=route('users') method='post')
        +input(user, 'email', errors)(type="text")
        +input(user, 'password', errors)(type="password")
        +input(user, 'firstName', errors)(type="text")
        +input(user, 'lastName', errors)(type="text")
        +submit(user)(value=text('views.users.new.submit'))

