node_modules/
dist/
.idea/
.DS_Store
testing-requests.http
src/bootstrap.min.css

server/helpers
server/locales/en.js

build/
tmp/
temp/
database.sqlite
.env

# Ignore test-related files
/coverage.data
/coverage/
