extends ./layout.pug

block content
    .row.justify-content-center
        .col.col-md-8
            .card
                .card-body
                    h2.card-title= text('views.welcome.index.hello')
                    p.lead= text('views.welcome.index.description')
                    hr
                    a.btn.btn-primary.btn-lg(href="https://hexlet.io")= text('views.welcome.index.more')
    //
    //.card
    //    .card-body.p-5.bg-light
    //        .display-4= t('views.welcome.index.hello')
    //        p.lead= t('views.welcome.index.description')
    //        hr
    //        a.btn.btn-primary.btn-lg(href="https://hexlet.io")= t('views.welcome.index.more')
