extends ../layouts/application

block header
    = text('views.tasks.new.creation')

block content
    form(action=route('tasks') method='post')
        +input(task, 'name', errors)(type="text")
        +textarea(task, 'description')
        +select(task, statuses, 'statusId', errors)
        +select(task, executors, 'executorId', errors)
        +select(task, labels, 'labels', errors)(multiple size="4")
        +submit(task)(value=text('views.tasks.new.submit'))
