extends ../layouts/application

block header
    = text('views.tasks.existing.updateTitle')

block content
    form(action=route('updateTask', { id: task.id }) method='post')
        +input(task, 'name', errors)(type="text" required="required")
        +textarea(task, 'description')
        +select(task, statuses, 'statusId', errors)(required="required")
        +select(task, executors, 'executorId', errors)
        +select(task, labels, 'labels', errors)(multiple size="4")
        input(name="_method" type="hidden" value='patch')
        +submit(task)(value=text('views.tasks.existing.update'))
