extends ../layouts/application.pug

block header
    = text('views.session.new.signIn')

block content
    +formFor()(action=route('session') method='post')
        +input(signInForm, 'email', errors)(type="text")
        +input(signInForm, 'password')(type="password")
        +submit(signInForm)(value=text('views.session.new.submit'))
